.container {
    width: 700px;
    margin: 0 auto;
}

.guest-message {
    padding: 15px;
    border: 1px solid lightgray;
    border-radius: 6px;
    margin-bottom: 20px;
}

.message-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.guest-name {
    font-size: 1.2rem;
}
.guest-mail {
    font-weight: 700;
}