{% extends 'base.html' %}
{% block title %}Return to Home Page{% endblock %}
{% block menu %}
<a href="{% url 'record_add' %}">Add Record</a>
{% endblock %}
{% block content %}
<h1>Гостевая книга</h1>
{% if records  %}
{% for record in records %}
<div class="guest-message">
    <div class="message-header">
        <div class="header-left">
            <span class="guest-name">{{ record.name }}</span>
            <span class="guest-mail">({{ record.email }})</span>
        </div>
        <div class="header-right">
            <a href="{% url 'record_edit' record.pk %}">
                <img src="static/images/editing.png" alt="cat" width="20" height="auto"/></a>
            <a href="{% url 'record_delete' record.pk %}">
                <img src="static/images/delete.jpg" alt="cat" width="20" height="auto"/></a>
        </div>
    </div>
    <div class="message-content">
        <p>{{ record.text }}</p>
    </div>
</div>
{% endfor %}
{% else %}
<p>Empty records</p>
{% endif %}
{% endblock %}